

@keyframes load {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  50% {
    top: 0;
    transform: translateY(0);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}

.text-loader span {
  animation: bounce 1s infinite ease-in-out;
}

.text-loader span:nth-child(1) {
  animation-delay: 0s;
}
.text-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.text-loader span:nth-child(3) {
  animation-delay: 0.4s;
}


@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px); /* how high it jumps */
  }
}
@keyframes showChat {
  100% {
    display: block; /* how high it jumps */
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.hideLoader {
  animation: hideLoader 3s forwards;
}


@keyframes showChat {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.showChat {
    opacity: 0;
    animation: showChat 3s forwards;
}
